addDefaultCharset utf8

RewriteEngine on #Включает mod_rewrite - модуль сервера апач для манипуляции и изменения УРЛ
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule <regexp> <path> [flags] - это синтаксис

# основные флаги
# L - указывает прекратить дальнейшее применение правил
# QSA - говорит что нужно передать как часть строки запроса
# NC - задает чувствительность к регистру

RewriteRule ^(.*)$ index.php?param=$1 [QSA,L]